#form{
    width: 352px;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: auto;
    border-radius: 8px;
    margin: 0 auto;
    background: var(--color-background-container, #fff);
    position: relative;
    height: 600px;
    top: 1%;
    
}
#singin{
   
   margin-left: 10px;
    font-size: 2.1rem;
    line-height: 1.25;
    font-weight: 450;
    color: #000;
    padding: 0 0 4px 0;
     font-family: "Poppins", sans-serif;
}
#google{
    width: 300px;
    height: 30px;
    border: #000 1px solid;
    border-radius: 50px;
    position: relative;
    left: 5%;
    padding: 5px;
    font-family: "poppins",sans-serif;
     font-size: 0.9rem;
     font-weight: 2000px;
}
#g1{
    position: absolute;
    left: 20%;

}

#g2{
    position: absolute;
    left: 29%;
}
#apple{
    width: 300px;
    height: 30px;
    border: #000 1px solid;
    border-radius: 50px;
    position: relative;
    left: 5%;
    padding: 5px;
    font-family: "poppins",sans-serif;
    font-weight: 2000px;
    line-height: 1.5px;
    
}
#descrption{
    font-size: 0.8rem;
    line-height: 1.5;
    font-weight: 400;
    padding: 3px 2px 4px 20px;
    font-family: "poppins",sans-serif;
    a {
    text-decoration: none;
    color: #0a66c2;
  }
    
}

#ep{
position: relative;
left: 6%;
top: 3%;

}
.inputtext{
    width: 300px;
    height:50px;
    border:1px solid rgb(19, 19, 19);
    border-radius: 4px;
    padding: 11px;
     
}
::placeholder{ font-family: "poppins",sans-serif;

    font-size: 16px;
}
#forgot{
    position: relative;
    font-family: poppins,sans-serif;
    color: #0a66c2;
    font-weight: 50px;
    left: 6%;
    top: 9px;

}

#chech{
    position: relative;
    left: 5%;
    font-family: poppins,sans-serif;
    bottom: 2px;
}

.big-checkbox {
  transform: scale(1.5);
  cursor: pointer;
}
#butsingnn{
           width: 300px;
    height:50px;
    border:1px solid #0a66c2;
    border-radius: 40px;
    backgr: rgb(59 130 246 / 0.5);
    background:  #0a66c2 !important;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 6%;
    padding: 2px;
}
#link{
    font-family: poppins,sans-serif;
     a {
    text-decoration: none;
    color: #0a66c2;
    margin-bottom: 100px;
  }
   left: 41.3%;
}
/* Hidden by default */
#lastones {
  display: none;
}

#register {
  position: relative;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

/* Show only on large / full screens */
@media screen and (min-width: 1024px) {
  #lastones {
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;
    gap: 20px;

    position: relative;           /* stick to bottom */
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 14px;
    color: #666;
  }

  .last {
    cursor: pointer;
    white-space: nowrap;
  }

  .last:hover {
    text-decoration: underline;
  }
}
